@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

div {
    width: max-content;
    margin: 1em auto;
}

table input[type=text] {
    font-size: 2em;
    text-align: center;
    width: 1em;
}