@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

* {
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    font-family: sans-serif;
    background: #eee;
    color: black;
}

pre {
    font-family: monospace;
    font-size: 2em;
}

div {
    width: max-content;
    margin: 0 auto;
}

button {
    border: none;
    background: #369;
    cursor: pointer;
    color: white;
    padding: 0.25em 0.5em;
    margin: 0.25em;
}

button:hover {
    background: #47a;
}

button:active {
    background: #258;
}

#input {
    display: flex;
    flex-direction: column;
}

.word {
    display: flex;
    flex-direction: row;
}

.CharInput {
    display: flex;
    flex-direction: column;
}

.CharInput input {
    font-size: 2em;
    text-align: center;
    width: 1em;
    color: white;
    font-weight: bold;
    padding: 0.25em;
    margin: 0.25em;
    border: 0;
    transition: background 0.5s;
}

#setup {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#setup>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#setup input {
    width: 3em;
    font-weight: bold;
    color: white;
    background: #333;
    padding: 0.25em;
    margin: 0.25em;
    border: 0;
}

#setup button {
    margin: 0 auto;
}

#setup svg {
    margin: 0.25em;
}

div#floater {
    position: fixed;
    right: 1em;
    bottom: 1em;
    color: #666;
    border: 1px dotted #666;
    padding: 0.25em;
    font-family: monospace;
    font-weight: bold;
    cursor: help;
}

div#help {
    display: none;
    position: fixed;
    right: 1em;
    bottom: 3em;
    color: black;
    background: white;
    padding: 0.25em;
    border-radius: 0.2em;
    border: 1px solid #666;
    max-width: 50%;
}

@media (prefers-color-scheme: dark) {

    body {
        background: #111;
        color: white;
    }

}