* {
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background: #122;
    color: #eef;
    font-size: 1rem;
}

/* .clear {
    clear: both;
} */

h1 {
    text-align: center;
}

.heading {
    background: dimgray;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.heading p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    padding: 0.3rem;
}

/* h3 {
    background: dimgray;
    padding: 0.25rem;
    margin: 0;
} */

#column {
    min-width: 45rem;
    max-width: 60rem;
    margin: auto;
}

#instructions {
    border: 1px solid yellow;
}

#row {
    display: flex;
    align-items: center;
}

#conversion-div {
    /* margin: 0.5rem; */
    /* width: max-content; */
    text-align: center;
    border: 1px solid green;
}

#input-side,
#output-side {
    width: 100%;
    border: 1px solid red;
    /* margin: 0.5rem; */
}

#input-units,
#output-units {
    padding: 0.5rem;
}

input,
button,
select {
    padding: 0.25rem;
    color: white;
    background: black;
    font-family: monospace;
}

input {
    width: 6rem;
    border: 1px solid gray;
}

button {
    cursor: pointer;
}

button#input-clear,
button#output-clear {
    /* float: right; */
}

button#close {
    /* float: right; */
    background-color: firebrick;
    font-weight: bold;
}