* {
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background: #122;
    color: #eef;
    font-size: 1rem;
}

h1 {
    text-align: center;
}

#container,
#instructions {
    max-width: 60rem;
    margin: auto;
}

#container {
    display: flex;
    align-items: center;
}

#middle {
    margin: 0.5rem;
    width: max-content;
    text-align: center;
}

#input-side,
#output-side {
    width: 100%;
}

input,
button,
select {
    padding: 0.25rem;
    color: white;
    background: black;
    font-family: monospace;
}

input {
    width: 6rem;
    border: 1px solid gray;
}

button {
    cursor: pointer;
}

button#input-clear,
button#output-clear {
    float: right;
}

button#close {
    float: right;
    background-color: firebrick;
    font-weight: bold;
}