* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    background: whitesmoke;
    font-family: sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: auto;
    padding: 1rem;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
}

input {
    padding: 1rem 0;
}

textarea {
    height: 100%;
    resize: none;
}